body {
    background:black;
    text-align: center;
    margin:50px;
}
#main-content{
    background:white;
    box-shadow: 10px 10px 5px grey;
}
.h1{
    font-family:Arial;
    font-size: 40px;
}
.p{
    font-family:Arial;
    font-size: 25px;
}